<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.poltekkes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true">
        <activity android:name=".menu.menu.menu_register"></activity>
        <activity android:name=".menu.menu.menu_login" />
        <activity
            android:name=".menu.menu.menu_utama"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity android:name=".menu.menu.menu_materi" />
        <activity android:name=".menu.menu.menu_bantuan" />
        <activity android:name=".menu.menu.menu_pembuka">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>